<div class="row sub-header">

    <label for="mode" class="col-1 col-form-label">Modo:</label>
    <div class="col-11">
        <select class="form-control" name="mode" [(ngModel)]="selectMode">
            <option value="grafic">Grafico</option>
            <option value="report">Reporte</option>
        </select>

    </div>

    <div class="col-4 offset-4">
        <button class="btn btn-success btn-block" (click)="change()">Aplicar</button>
    </div>

</div>
<div class="container" style="padding-bottom: 30px">

    <div class="col-lg-10 offset-lg-1" style="display: block" [ngClass]="{'hidden': actualMode != 'grafic'}">
        <app-bar-chart class="app-chart">
        </app-bar-chart>
    </div>

    <div class="col-lg-10 offset-lg-1 table" [ngClass]="{'hidden': actualMode !='report'}">
        <table datatable class="row-border hover">
            <thead>
                <tr>
                    <th>DNI</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dt of dataForTable">
                    <td>{{ dt.dni }}</td>
                    <td>{{ dt.nombre }}</td>
                    <td>{{ dt.cantidad }}</td>
                </tr>
            </tbody>
        </table>


    </div>

</div>