<div class="row sub-header" style="height: 110%;">

    <label for="type" class="col-1 col-form-label">Paso:</label>
    <div class="col-5">
        <select class="form-control" name="type" [(ngModel)]="type">
            <option value="entrada_id">Entrada</option>
            <option value="plato_principal_id">Plato Principal</option>
            <option value="bebida_id">Bebida</option>
            <option value="postre_id">Postre</option>
        </select>
    </div>

    <label for="food" class="col-1 col-form-label">Comida:</label>
    <div class="col-5">
        <select class="form-control" name="food" [(ngModel)]="food">
            <option *ngFor="let food of foods" value="{{food.id}}">{{food.detail}}</option>
        </select>
    </div>

    <label for="company" class="col-1 col-form-label" style="margin-top:15px;margin-bottom:15px">Modo:</label>
    <div class="col-11" style="margin-top:15px;margin-bottom:15px">
        <select class="form-control" name="company" [(ngModel)]="mode">
            <option value="amount">Monto</option>
            <option value="orders">Cantidad de ordenes</option>
        </select>
    </div>


    <label for="moth" class="col-1 col-form-label">Mes:</label>
    <div class="col-4">
        <select class="form-control" name="month" [(ngModel)]="month">
            <option *ngFor="let month of months" value="{{month.id}}">
                {{month.name}}
            </option>
        </select>
    </div>
    <label for="year" class="col-1 col-form-label">Año:</label>
    <div class="col-4">
        <select class="form-control" name="year" [(ngModel)]="year">
            <option *ngFor="let year of years">{{year}}</option>
        </select>
    </div>





    <div class="col-4 offset-4" style="margin-top:10px">
        <button class="btn btn-success btn-block" (click)="filter()">Aplicar</button>
    </div>


</div>

<div class="container" style="padding-bottom: 30px">
    <div class="col-lg-10 offset-lg-1">
        <app-line-chart class="app-chart"></app-line-chart>
    </div>
</div>
<ngx-ui-loader></ngx-ui-loader>