<div id="content" class="col-lg-12">
  <header id="header" class="col-lg-12" [style.background]="headerColor">
    <h1>
      TP Final DWBI
    </h1>
  </header>

  <nav id="nav" class="col-lg-12">
    <ul>
      <li><a [routerLink]="['/home']" [routerLinkActive]="['activado']">Tiempo por vehiculo</a></li>
      <li><a [routerLink]="['/quantity-employee']" [routerLinkActive]="['activado']">Cantidad por empleados</a></li>
      <li><a [routerLink]="['/quantity-date-employee']" [routerLinkActive]="['activado']">Cantidad por mes y
          empleado</a></li>
      <li><a [routerLink]="['/quantity-turn']" [routerLinkActive]="['activado']">Cantidad por turno</a></li>
    </ul>
  </nav>

  <section id="main" class="col-lg-10 offset-lg-1">
    <!-- Componente actual -->
    <router-outlet></router-outlet>
  </section>
</div>